:root {
  --unit: 16pt;
  --color-primary: #1a1a1a;
  --color-secondary: #797979;
  --color-gray: #e5e5e5;
  --font-size-default: 10pt;
  --font-family:  "Helvetica", "Arial", "sans-serif";
}

html, 
body {
    font-family: var(--font-family);
    color: var(--color-secondary);
    /* margin: 11pt; */
}

p {
    color: var(--color-secondary);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--color-primary);
}

ul {
    padding: 0;
    margin: 0;
    margin: var(--unit) 0;
    list-style-type: none;
}

a {
    color: var(--color-secondary);
}

.page {
    position: relative;
}
.page > header {
    height: 150px;
}

.page header h1, .page header h2 {
    font-size: 1em; 
    margin: 0;
}

.page header h1 {
    font-weight: 800;
}

.page aside img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    border-radius: 4px;
}

.page h2 {
    display: inline-block;
    margin-right: var(--unit);
}

.page address {
    display: inline-block;
    margin-right: var(--unit);
}

.page-aside .skills {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-primary);
}

.page-aside .skills li {
    margin-right: calc(var(--unit) /2);
}

.experience {
    width: 70%;
    display: inline-block;
}

.experience section {
    margin-bottom: calc(var(--unit) /2);
}

.experience h2 {
    font-size: 1.15em;
}

.experience h3 {
    font-size: 0.8em;
    font-weight: normal;
    color: var(--color-secondary);
}

.experience h4 {
    font-size: 0.8em;
    color: var(--color-secondary);
    font-weight: normal; 
    margin-bottom: calc(var(--unit) /2);
    text-transform: uppercase;
}

.experience article {
    width: calc(50% - (var(--unit) *2));
    display: inline-block;
    margin: calc(var(--unit)/2) calc(var(--unit) *2) 0 0;
    font-size: 0.8em;
}

.experience aside {
    width: calc(40% - (var(--unit) *2));
    display: inline-block;
    font-size: 0.8em;
}

.experience aside ul {
    margin: 0;
}

.experience-2 {
    display: flex;
    margin-top: var(--unit);
}

.experience-2 section {
    margin-right: calc(var(--unit) /2);
}

.experience-2 header h2 {
    font-size: 0.8em;
    font-weight: normal;
}

/* ############  page aside ############ */

.page-aside {
    width: calc(30% - var(--unit));
    position: absolute;
    right: 0;

    top: 150px;
}

.page-aside h4 {
    color: var(--color-secondary);
    font-size: .65em;
    text-transform: uppercase;
    font-weight: normal;
}

.skills, .skills-2 {
    font-size: 0.8em;
}

.language li {
    font-size: 0.8em;
}

.education h1 {
    font-size: 0.8em;
    font-weight: normal;
}

.education h2 {
    font-size: 0.8em;
    color: var(--color-secondary);
    font-weight: normal;
}

.education h4 {
    margin-bottom: calc(var(--unit) /2);
}

.education li {
    font-size: 0.8em;
}

/* ############  Footer ############ */

footer h4 {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-secondary);
}

footer ul {
    display: inline-flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 0;
}
footer ul li {
    margin-right: calc(var(--unit) /2);
    font-size: 0.8em;
}